:root {
    --primary-color: #3B4447;
    --secundary-color: #C0955E;
    --white-color: #ffffff;
    --light-gray-color: #EEEEEE;
    --placeholder-color: #6B7280;
    --footer-color: #3B4447;
    --gap: 3rem;
}